{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Size (# of parameters)</th>
        <th>Creator</th>
        <th>GLUE</th>
        <th>StereoSet</th><th>mb-index</th>
      </tr>
    </thead>
    <tbody>
      {% for llm in llms %}
        <tr>
          <td>{{ llm.id }}</td>
          <td>{{ llm.name }}</td>
          <td>{{ llm.size }}</td>
          <td>{{ llm.creator }}</td>
          <td>{{ llm.glue }}</td>
          <td>{{ llm.stereoset }}</td><td>{{ llm.mb_index }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}